<section class="text-gray-400 bg-gray-900 body-font ">
    <div class="container px-5 py-16 mx-auto">
        <div class="flex flex-wrap -m-2">
            <% @users.each do |user| %>
                <div class="p-2 lg:w-1/2 md:w-1/2 w-full">
                    <%= link_to user_path(user.id) do %>
                        <div class="h-full flex items-center border-gray-800 border p-4 rounded-lg">
                            <img alt=<%= user.name %>
                                class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-md mr-4"
                                src=<%=user.photo%>>
                            <div class="flex-grow">
                                <h2 class="text-white title-font font-medium"><%= user.name %></h2>
                                <p class="text-gray-600 text-right">Number of posts: <%= user.posts_counter %></p>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</section>
