<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-12 justify-center">
      <div class="p-12 md:w-1/2 flex flex-col items-start">
        <%= render partial: "partials/user_header", locals: {user: @user} %>
        <span class="inline-block py-1 px-2 rounded bg-gray-800 text-green-400 text-opacity-75 text-xs font-medium tracking-widest">BIO</span>
        <p class="leading-relaxed mb-8"><%= @user.bio %></p>
        <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-800 border-opacity-75 mt-auto w-full">
        </div>

        
        <button class="">
           <%= link_to new_user_post_path(@user.id), class:"flex  text-white bg-green-500 border-0 py-2 px-8 focus:outline-green-900 hover:bg-green-600 rounded text-lg" do %> 
         Create New Post
         <%end%>
         </button>
         <br>
         <% @user.three_recent_posts.each do |post| %>
         <%= render partial: "partials/post", locals: {post: post} %>
         <% end%>
     <button class="flex mx-auto mt-16 text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg"> <%= link_to "See All Posts", user_posts_path(@user) %></button>
      </div>
    </div>
  </div>
</section>