<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-12 justify-center">
      <div class="p-12 md:w-1/2 flex flex-col items-start">
        <%= render partial: "partials/user_header", locals: {user: @user} %>
        <% if can? :create, Post %>
          <button class="">
            <%= link_to new_user_post_path(@user.id), class:"flex  text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg" do %>
              Create New Post
            <%end%>
          </button>
        <%end%>
        <br>
        <% @posts.each do |post| %>
          <%= render partial: "partials/post", locals: {post: post} %>
          <% post.five_recent_comments.each do |comment| %>
            <%= render partial: "partials/comments", locals: {comment: comment} %>
          <% end %>
          <%= render partial: "partials/add_comment", local: { post: @post = post } %>
        <% end%>
      </div>
    </div>
    <button class="flex mx-auto mt-16 text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg">Pagination</button>
  </div>
</section>
